.container{
    background:#fff; 
    justify-content:left;
    text-align:left;
    align-items:initial;  
}
.header{
    background: #D38B5D;
    height:60px;
    border-radius:3px;
    justify-content:left;
    text-align:left;
    align-items:initial;  
}
.room {
    padding: 16px;
    font-size: 20px;
    font-weight: 800;
}
.cercle{
    width:10px;
    height:10px;
    background: rgb(1, 148, 57);
    border-radius: 50%;
    display: inline-block;

}