.chatbox{
    height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.containerMessage{
    margin: 25px 10px;
}



.message-data-time {
    color: #92959e;
    font-size: 12px;
  }

  .data_name{
     padding-top: 6px;
     padding-left: 10px;
     font-size: 15px;
     font-weight: 400;
  }


  .message-box{
    margin-left:20px ;
    background: #12496d
;
    display:block;
     padding: 15px;
     border-radius: 0px 5px 5px 5px;
     font-size: 12px;
     word-wrap: break-word;
     letter-spacing: 0;
     display: inline-block;
     Max-width:65%; 
     color:#F3FFB6;
  }
  .centre{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }




  .my-message-box{
    margin-right: 20px;
    border:1px solid #12496d;
    Max-width:65%; 
    padding: 15px;
    border-radius: 5px 0px 5px 5px;
    font-size: 12px;
    word-wrap: break-word;
    letter-spacing: 0;
    display: inline-block;
  }

  .my-message-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: stretch;
    margin: 25px 10px;
  }

  .my-message-descreption{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
  }