.send{
    overflow: hidden;
    background:#D38B5D;
    padding: 10px;
    border-radius:3px;
}


.sendbuttom{
    float:right;
    position: absolute;
}
.inputmessage{
    width:70%;
    background: #fff;
   border:#a8a6ad solid 1px;
}
@media screen and (max-width: 700px) {
    .inputmessage{
        width:65%;
        background: #fff;
       border:#a8a6ad solid 1px;
    }
  
    .hidden {
        display: none;
     }  



     .send{
        overflow: hidden;
        background:#D38B5D;
        padding: 10px;
        border-radius:3px;
    }
    
  }