.send{
    overflow: hidden;
    background: #b3a6db;
    padding: 10px;
    border-radius:3px 3px 0px 0px;
}


.sendbuttom{
    float:right;
    position: absolute;
}
.inputmessage{
    width: 380px;
    
    background: #fff;
   border:#a8a6ad solid 1px;
}